@page "/meetups/create"
@model MovieClub.Web.Areas.Meetups.Pages.Create.CreateMeetupPage
@{
}

<form method="post" id="Search"></form>

<div class="row">

    <div class="col-6 offset-3 mt-3">

        <div class="row text-center">
            <div class="page-nav-title">Create Meetup:</div>
        </div>

        <div class="row mt-4 sub-page-right">

            <div class="row text-center">
                <div class="sub-page-title">Search for a Movie:</div>
            </div>

            <div class="row pt-5 text-center">
                <div class="col-8 offset-2 text-center">
                    <input type="text" asp-for="MovieSearchValue" class="form-control user-input" form="Search" placeholder="Search"/>
                </div>

                <div class="col-2">
                    <input asp-page-handler="SearchMovies" type="submit" value="Search" class="btn btn-primary invisible" form="Search"/>
                </div>
            </div>

        </div>

        @if (Model.MovieSearchValue is not null)
        {
            @if(Model.MovieSelect.Any())
            {
            <div class="row">
                <form method="post">
                    <div class="sub-page-right mt-3">

                        <div class="row pt-5 ">
                            <div class="col-4 sub-heading">Select Movie: </div>

                            <div class="col-8 text-center form-group">
                                <select class="form-control user-input" asp-for="CreateMeetupModel.MovieTMDbId" asp-items="@Model.MovieSelect">
                                </select>
                            </div>
                        </div>

                        <div class="row pt-5 ">
                            <div class="col-4 sub-heading">Select Club: </div>

                            <div class="col-8 text-center form-group">
                                <select class="form-control user-input" asp-for="CreateMeetupModel.ClubId" asp-items="@Model.ClubSelect">
                                </select>
                            </div>
                        </div>

                        <div class="row pt-5">
                            <div class="col-4 sub-heading">Date & Time: </div>

                            <div class="col-8 form-group">
                                <input asp-for="CreateMeetupModel.Date" type="datetime-local" class="form-control user-input" value="@DateTime.Now" min="@DateTime.Now"/>
                                <span asp-validation-for="CreateMeetupModel.Date" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row pt-5">
                            <div class="col-4 sub-heading">Location: </div>

                            <div class="col-8 form-group">
                                <input type="text" asp-for="CreateMeetupModel.Location" class="form-control user-input" />
                                <span asp-validation-for="CreateMeetupModel.Location" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row pt-5">
                            <div class="col-2 offset-6 form-group">
                                <input asp-page-handler="Create" type="submit" value="Create" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            }
            else
            {
            <div class="row mt-5 text-center">
                <div class="page-title">No Movies Found.</div>
            </div>
            }
        }
    </div>
</div>