@page "/meetups/create"
@model CreateMeetupPage

<div class="row">
    <div class="col-6 offset-3 mt-4">

        <div class="row mt-4">
            <div class="col-3 sub-page-title text-center pt-1">Create Meetup :</div>
        </div>

        <div class="row p-4 sub-page-right">
            <form method="post">
            @if(Model.MovieSelect.Any())
            {
                <div class="row mt-2">
                    <div class="col-3 pt-1 sub-page-header">Movie: </div>

                    <div class="col-8 text-center form-group">
                        <select class="form-select user-input" asp-for="CreateMeetupModel.MovieTMDbId" asp-items="@Model.MovieSelect"></select>
                    </div>
                </div>

                @if (Model.ClubSelect.Any())
                {
                    <div class="row pt-5">
                        <div class="col-3 sub-page-header">Club: </div>

                        <div class="col-8 text-center">
                            <select class="form-select user-input" asp-for="CreateMeetupModel.ClubId" asp-items="@Model.ClubSelect">
                            </select>
                        </div>
                    </div>

                    <div class="row pt-5">
                        <div class="col-3 sub-page-header">Date & Time: </div>

                        <div class="col-8 form-group">
                            <input asp-for="CreateMeetupModel.Date" type="datetime-local" class="form-control user-input"/>                    
                        </div>
                    </div>

                    <div class="row pt-5">
                        <div class="col-3 sub-page-header">Location: </div>

                        <div class="col-8 form-group">
                            <input type="text" asp-for="CreateMeetupModel.Location" class="form-control user-input" />                    
                        </div>
                    </div>

                    <div class="row pt-5">
                        <div class="col-2 offset-6 form-group">
                            <input asp-page-handler="CreateMeetup" type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="row pt-5">
                        <div class="col-12 text-center">
                            <a asp-area="Clubs" asp-page="/Create/CreateClubPage" class="">Create</a>
                            <span style="font-size: 18px"> or join a Club before you try to schedule a Meetup.</span>
                        </div>
                    </div>
                }               
            }
            else
            {
                <div class="row mt-2">
                    <form method="post">
                        <div class="col-3 sub-page-header">Movie: </div>
                        <div class="col-8 text-center form-group">
                            <input type="text" asp-for="MovieSearchValue" class="form-control user-input" placeholder="Search"/>
                        </div>
                        <div class="col-1">
                            <input asp-page-handler="SearchMovies" type="submit" value="Search" class="btn btn-primary invisible" />
                        </div>
                    </form> 
                    <div class="col-8 offset-3 mt-1 text-center">
                        <span asp-validation-for="CreateMeetupModel.Date" class="text-danger"></span>
                        <span asp-validation-for="CreateMeetupModel.Location" class="text-danger"></span>
                    </div>
                </div>
            }
        </form>
        </div>
    </div>
</div>
