@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #F8FFF4;
    background-color: #18191A;
    margin-bottom: 60px;
    max-width: 100%;
}

hr {
    color: #445566;
}

.container {
    max-width: 95%;
}

a:hover {
    color: #445566;
}

.navbar {
    width: 100%;
    background-color: #14181C !important;
    border-bottom: 3px solid #202830;
}

.navigation {
    width: 80%;
}

.nav-item {
    margin-left: 50px;
    padding-right: 20px;
}

.navbar-brand {
    color: #BBE5ED;
    font-size: 27px;
}

.nav-link {
    color: #E8EBED;
    font-size: 22px;
    font-weight: bold;
}

    .nav-link:hover {
        color: #445566;
    }


.page-title {
    font-size: 36px;
    color: #445566;
    font-weight: 800;
    text-align: center;
}

.kick-icon {
    font-size: 28px;
    color: #F50008;
}

.sub-page {
    background-color: #202224;
    border-radius: 25px;
    border: 2px solid #202830;
}

.next-meetup {
    padding: 10px 40px 40px 40px;
}

.page-nav {
    color: #BBE5ED;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.page-nav-success {
    color: #63A375;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.page-nav-warning {
    color: #ffc107;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.page-nav-danger {
    color: #FF474E;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.page-nav-title {
    color: #DDEEFF;
    font-size: 42px;
    font-weight: 800;
    text-decoration: none;
}

.sub-heading {
    color: #656565;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.sub-page-title {
    color: #627A93;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-dark {
    background-color: #18191A;
}

.btn-icon {
    background-color: #202224;
    border: none;
}

.btn-success {
    background-color: #18191A;
    color: #63A375;
    border: none;
}

.btn-danger {
    background-color: #18191A;
    color: #F50008;
    border: none;
}

.column-input {
    border-radius: 12px;
    background-color: #E2E9F3;
    border: 4px solid black;
    color: #627A93 !important;
    text-align: center;
}

.column-readonly {
    background-color: #18191A !important;
    border: 0.5px solid black;
    color: #F8FFF4;
    text-align: center;
}

.column-link {
    background-color: #18191A !important;
    border: 1px solid #656565;
    color: #E2E9F3;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}





.clubdetails-leader {
    color: #D2D4C4;
    text-align: center;
    font-size: 24px;
}

.clubdetails-member {
    color: #D2D4C4;
    text-align: center;
    font-size: 24px;
}




.movie-info-label {
    color: #BCAB79;
    font-size: 28px;
    font-weight: bold;
    text-align: end;
}

.movie-info-value {
    color: #D2D4C4;
    text-align: center;
    font-size: 24px;
}

.movie-genres {
    font-size: 24px;
    color: #627A93;
}

.movie-poster {
    padding: 25px 0px 25px 50px;
}

.movie-imdb {
    width: 90px;
    height: 30px;
}

.movie-letterboxd {
    width: 130px;
    height: 30px;
}

.movie-synopsis {
    font-size: 20px;
    padding: 0px 60px 0px 60px;
}

.movie-tagline {
    color: #656565;
    font-size: 15px;
}

.movie-title {
    font-size: 34px;
    font-weight: 800;
    color: #DDEEFF;
}