@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #DDEEFF;
    background-color: #18191A;
    margin-bottom: 60px;
    max-width: 100%;
}

.container {
    max-width: 90%;
}

a:hover {
    color: #445566;
}

.navbar {
    width: 100%;
    background-color: #14181C !important;
    border-bottom: 3px solid #202830;
}

.navigation {
    width: 80%;
}

.nav-item {
    margin-left: 50px;
    padding-right: 20px;
}

.navbar-brand {
    color: #445566;
}

.nav-link {
    color: #E8EBED;
    font-size: 22px;
    font-weight: bold;
    font-family: “Impact”;
}

    .nav-link:hover {
        color: #445566;
    }

.page-title {
    font-size: 36px;
    color: #445566;
    font-weight: 800;
}

.edit-icon {
    font-size: 28px;
    color: darkgrey;
}

.delete-icon {
    font-size: 28px;
    color: red;
}

.sub-page {
    background-color: #202224;
    border-radius: 25px;
    border: 2px solid #202830;
    margin-top: 20px;
    padding: 10px 20px 35px 20px;
}

.page-nav {
    color: #656565;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.page-nav-success {
    color: green;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.page-nav-title {
    color: #445566;
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
}

.sub-heading {
    color: #656565;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.sub-page-title {
    color: #E8EBED;
    font-size: 30px;
    font-weight: 800;
}

.btn-dark {
    background-color: #18191A;
}

.column-header {
    color: #656565;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.column-input {
    background-color: #E2E9F3;
    border: 4px solid black;
    color: #292929 !important;
    text-align: center;
}

.column-readonly {
    background-color: #18191A !important;
    border: 0.5px solid black;
    color: #E2E9F3;
    text-align: center;
}

.column-link {
    background-color: #18191A !important;
    border: 1px solid #656565;
    color: #E2E9F3;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.movie-genres {
    font-size: 24px;
    color: #E8EBED;
}

.movie-poster {
    width: 350px;
    height: 525px;
}

.movie-social-logo {
    width: 120px;
    height: 30px;
}

.movie-synopsis {
    font-size: 20px;
}

.movie-tagline {
    color: #656565;
    font-size: 15px;
}

.movie-title {
    font-size: 30px;
    font-weight: 800;
    color: #445566;
}