/* Global HTML */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #656565;
    background-color: #0A0A0A;
    margin-bottom: 60px;
    max-width: 100%;
}

.container {
    max-width: 95%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #445566;
}

option {
    background-color: black;
    color: white;
}

/* Header */
.navigation {
    width: 85%;
}

.navbar {
    width: 100%;
    background-color: #0A0A0A;
    border-bottom: 3px solid #787A7D;
}

.navbar-title {
    color: #C2E1FF;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
}

.nav-item {
    padding: 0px 25px 0px 25px;
}

.nav-icon {
    font-size: 30px;
    color: #C2E1FF;
}

.nav-icon-subtext {
    color: #898989;
    font-size: 12px;
    text-transform: uppercase;
}

/* Page */

.page-title {
    font-size: 28px;
    color: #E3E4DB;
}

.page-title-label {
    text-align: end;
    font-size: 14px;
    color: #898989;
    text-transform: uppercase;
}

.page-nav-success {
    color: #63A375;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.page-nav-border-inactive {
    color: #898989;
    background-color: black;
    border: 1px solid #28292A;
    padding: 5px 15px 5px 15px;
}

.page-nav-border-success {
    color: #63A375;
    background-color: black;
    border: 1px solid #63A375;
    padding: 5px 15px 5px 15px;
}

.divide-border-right {
    border-right: 1px solid #28292A;
}

.divide-border-left {
    border-left: 1px solid #28292A;
}

.divide-border-bottom {
    border-bottom: 1px solid #28292A;
}

/* Sub-Page */
.sub-page-link {
    color: #B6B6B9;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.sub-page-title {
    color: #E3E4DB;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.sub-page-header {
    color: #E0E0E0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.sub-page-nobg {
    background-color: #0A0A0A;
    padding: 20px 0px 20px 0px;
    border-radius: 25px;
    border: 1px solid #3C3D3E;
}

/* Sub-Page-Left */
.sub-page-left-item {
    background-color: #141414;
    padding: 8px;
    border-radius: 12px;
    border: 2px solid black;
}

.sub-page-left-label {
    font-size: 12px;
    text-align: end;
    font-weight: bold;
    text-transform: uppercase;
}

.sub-page-left-user {
    color: #E3E4DB;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}


/* Sub-Page-Right */
.sub-page-right {
    background-color: #191919;
    border-radius: 10px;
    border: 2px solid #3C3D3E;
    padding: 15px 0px 15px 0px;
}

.sub-page-right-nav {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid black;
}

.sub-page-right-title {
    color: #E3E4DB;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.sub-page-right-list {
    color: #656565;
    background-color: #191919;
    border-left: 5px solid #3C3D3E;
    border-right: 5px solid #3C3D3E;
    border-bottom: 3px solid #3C3D3E;
}

.sub-page-right-item {
    background-color: #141414;
    padding: 8px;
    width: 98%;
    margin: auto;
    border-radius: 12px;
    border: 2px solid black;
}

.sub-page-right-discussion {
    font-size: 22px;
    color: #E3E4DB;
}

.sub-page-right-list-date {
    font-size: 18px;
}

.sub-page-right-list-select {
    border-radius: 12px;
    background-color: #ABB8C4;
    border: 1px solid #14181C;
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 6px;
}

.user-input {
    border-radius: 12px;
    background-color: #E2E9F3;
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 6px;
}

.user-input-link {
    border-radius: 12px;
    background-color: #0A0A0A;
    border: 1px solid #3C3D3E;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 6px;
}

.user-input-readonly {
    border-radius: 12px;
    background-color: #0A0A0A;
    border: 1px solid #3C3D3E;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 6px;
}

.user-input-select {
    border-radius: 12px;
    background-color: #ABB8C4;
    border: 1px solid #14181C;
    color: black;
    font-size: 14px;
    text-align: center;
}

.meetup-details {
    color: #E3E4DB;
}

/*Movie Details*/

.movie-label {
    color: #898989;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.movie-credit {
    color: #656565;
    font-size: 18px;
}

.movie-genres {
    font-size: 22px;
    color: #989A9A;
}

.movie-poster {
    margin: auto;
    height: 360px;
    border: 1px solid #191919;
}

.movie-runtime {
    color: #989A9A;
    font-size: 20px;
}

.movie-synopsis {
    font-size: 15px;
    color: #989A9A;
    padding: 0px 10px 0px 20px;
}

.movie-tagline {
    color: #656565;
    font-size: 14px;
}

.movie-title {
    font-size: 30px;
    font-weight: 800;
    color: #DDEEFF;
    text-decoration: none;
}

.movie-year {
    color: #989A9A;
    font-size: 24px;
}

.rsvp-hosting {
    border: 1px solid #CC9900;
    background-color: black;
    color: #CC9900;
}

.rsvp-invited {
    border: 1px solid #0391B5;
    background-color: black;
    color: #0391B5;
}

.rsvp-attending {
    border: 1px solid #126822;
    background-color: black;
    color: #126822;
}

.rsvp-declined {
    border: 1px solid #B80006;
    background-color: black;
    color: #B80006;
}

.logo-imdb {
    width: 90px;
    height: 40px;
}

.logo-letterboxd {
    width: 150px;
    height: 40px;
}

.logo-tmdb {
    width: 200px;
    height: 80px;
}

/* Bootstrap Overrides */
.btn-success {
    background-color: #0A0A0A;
    color: #63A375;
    border: 1px solid #28292A;
}

.btn-danger {
    background-color: #0A0A0A;
    color: #FF474E;
    border: 1px solid #28292A;
}

.border-success {
    border: 1px solid #63A375;
}

.form-control:focus {
    background-color: #E2E9F3;
}

.fa-ban {
    color: #FF474E;
}

.fa-times {
    color: #FF474E;
}