@page "/meetups/{id}"
@model MeetupDetailsPage
@{

}

<div class="row">

    <div class="col-3">
        @*Page Navigation*@           
        @await Html.PartialAsync("./_MeetupNavigationPartial", Model.PageData.Club)  


        @*Attendance List*@
        <partial name="_AttendanceListPartial" />
    </div>

    <div class="col-9">
        <div class="row mb-3">
            <div class="col-6 page-title text-center">Meetup Details:</div>
        </div>

        @*Meetup Details*@
        <div class="sub-page-right">
            <partial name="_MeetupDetailsPartial" />
        </div>
    </div>

</div>