@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager
@inject ICurrentUserService _currentUser

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{    
    <li class="nav-item">
        <div class="row text-center">
            <a asp-area="Users" asp-page="/Home/UserHomePage" class="nav-icon"><i class="fa fa-home"></i></a>
        </div>
        <div class="row text-center">
            <div class="nav-icon-subtext">home</div>
        </div>  
    </li>

    <li class="nav-item">
        <div class="row text-center">
            <a asp-area="Users" asp-page="/Meetups/UserMeetupSchedulePage" class="nav-icon"><i class="fa fa-film"></i></a>
        </div>
        <div class="row text-center">
            <div class="nav-icon-subtext">meetups</div>
        </div>
    </li>

    <li class="nav-item">
        <div class="row text-center">
            <a asp-area="Users" asp-page="/Mailbox/UserMailboxPage" class="nav-icon"><i class="fa fa-envelope"></i></a>
        </div>
        <div class="row text-center">
            <div class="nav-icon-subtext">inbox</div>
        </div>
    </li>

    <li class="nav-item">
        <div class="row text-center">
            <a asp-area="Users" asp-page="/Edit/EditUserProfilePage" class="nav-icon"><i class="fa fa-user"></i></a>
        </div>
        <div class="row text-center">
            <div class="nav-icon-subtext">profile</div>
        </div>
    </li>

    <li class="nav-item">
        <div class="row text-center">
            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" class="nav-icon"><i class="fa fa-ban"></i></a>
        </div>
        <div class="row text-center">
            <div class="nav-icon-subtext">logout</div>
        </div>
    </li>


    <li class="nav-item-final">
        
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
