@page
@model MovieClub.Web.Pages.AccessDeniedModel
@{
}

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="row sub-page-right-list">
            <div class="col-12 text-center">
                You do not have permission to access this page.
            </div>
        </div>
    </div>
</div>