@page
@model MovieClub.Web.Pages.NotFoundModel
@{
}

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="row sub-page-right-list">
            <div class="col-12 text-center">
                The Page you were looking for was not found.
            </div>
        </div>
    </div>
</div>