@page "/users/{id}"
@model UserProfilePage

<div class="row">

    <div class="col-3">
        @*Page Navigation*@
        
         @await Html.PartialAsync("./_UserNavigationPartial", Model.PageData.UserProfile)

        @*User Clubs List*@
        @if (Model.PageData.Leaderships.Any() || Model.PageData.Memberships.Any() || Model.PageData.Pending.Any())
        {
            <partial name="_ProfileClubListPartial" />
        }
        else
        {
            <div class="row">

                <div class="row mt-4">
                    <div class="col-10 offset-1 text-center">
                        <div class="sub-page-title">Memberships:</div>
                    </div>
                </div>
  
            </div>
            <div class="row mt-4">
                <div class="col-10 offset-1 text-center sub-page-left">
                    <div class="sub-page-title p-3">No Clubs</div>
                </div>
            </div>      
        }
    </div>

    <div class="col-9">

        <div class="row mb-3">
            <div class="col-6 page-title text-center">Next Scheduled Meetup:</div>
        </div>

        @if (@Model.PageData.NextAttendance is not null)
        {
            <div class="sub-page-right"> 
                <partial name="_ProfileNextMeetupPartial" />
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-4 offset-4 text-center">
                    <div class="sub-page-right-list">
                        <div class="sub-page-title">No Meetups</div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>