@model ClubDetailsPage

<div class="row ">

    <div class="sub-page col-6 offset-3">

        <div class="row p-4 text-center">
            <div class="page-title">
                @Model.ClubDetails!.ClubName
            </div>
        </div>

        <div class="row p-4 sub-heading">
            <div class="col-4 offset-2 column-header">
                <div>Club Leader: </div>
            </div>

            <div class="col-4">
                <div class="form-control column-readonly mt-2">@Model.ClubDetails.ClubLeader.UserProfile.DisplayName </div>
            </div>
        </div>

        <div class="row p-4 text-center">
            <form method="post">
                <input type="hidden" asp-for="ClubDetails.ClubId" value="@Model.ClubDetails.ClubId" />
                <input asp-page-handler="CreateMembership" type="submit" value="Apply To Join" class="btn btn-dark text-success" />
            </form>
        </div>

    </div>
</div>