@page "/clubs/{id}"
@model ClubDetailsPage
@{

}

@switch (@Model.PageData!.UserMembership.Rank)
{
    case MembershipRank.Visitor:
        <partial name="_VisitorClubDetailsPartial" />
        break;

    case MembershipRank.Pending:
        <partial name="_PendingClubDetailsPartial" />
        break;

    default:
    <div class="row">

        <div class="col-3">

            @*Page Navigation*@
            @await Html.PartialAsync("./_ClubNavigationPartial", Model.PageData.Club)       

            @*Club Members*@
            <partial name="_ClubMemberListPartial" />
            
        </div>

        <div class="col-9">

            <div class="row mb-3">
                <div class="col-6 page-title text-center">Next Meetup:</div>
            </div>

            @*Next Meetup*@
            @if (@Model.PageData.NextMeetup is not null)
            {
                <div class="sub-page-right">
                    <partial name="_ClubNextMeetupPartial" />
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-4 offset-4 text-center">
                        <div class="sub-page-right-list">
                            <div class="sub-page-title">No Meetups</div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
    break;
}